.person_table_row td img {
  width: 80px;
  height: 90px;
}

.person_table_row td,
th {
  border: 1px solid #274279;
  text-align: left;
  padding: 8px;
}

.person_table_row th {
  text-align: center;
}

.person_table_row td {
  text-align: center;
  font-size: 1.3rem;
}
