body {
  margin: 0;
  padding: 0;
}

.content_container {
  /* margin: 0 0 0 9%; */
  margin-left: 190px;
}

.results_container {
  width: 100%;
}

.results_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.results_table tr:nth-child(1) {
  background-color: #6883ba;
}

.results_table th:nth-child(1) {
  padding: 0 0 0 0;
}

.results_table td:nth-child(1) {
  width: 110px;
}

.results_table tr:nth-child(even) {
  background-color: #f0f0f6;
}

.results_table tr:nth-child(odd):not(:nth-child(1)) {
  background-color: #ffffff;
}
.pagination {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
}

.pagination button {
  width: 48px;
  height: 33px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #4c7aaf;
  color: white;
  border: 1px solid #1c1fc4;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.pagination button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
