.facerec_content {
  margin: 2.5% 2.5%;
}

.facerec_form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #b0c4de;
  border-radius: 1rem;
}

.facerec_form input {
  margin: 2.5% 0 0 0;
  align-self: center;
}

.facerec_form button {
  margin: 3% 0 0 0;
  align-self: center;
  width: 30%;
}

.facerec_form img {
  margin: 5% 0 5% 0;
  align-self: center;
  max-width: 90%;
}

.facerec_results {
  font-weight: 800;
  font-size: 2.5rem;
  color: #2b5b9b;
  display: block;
  text-align: center;
}
